<section class="category-events section">
	{% include "../site/section-header.twig" with {
		title : "Экскурсии сегодня",
		link  : {
			path : "category.html"
		}
	} only %}

	<div class="category-events__list">
		{% for item in events %}
			<a href="mobile.html" class="category-events__item">
				<div class="category-events__image">
					<picture>
						<source srcset="images/events/{{ item.image }}.webp 1x, images/events/{{ item.image }}@2x.webp 1.3x" type="image/webp">
						<source srcset="images/events/{{ item.image }}.jpg 1x, images/events/{{ item.image }}@2x.jpg 1.3x" type="image/png">
						<img src="images/events/{{ item.image }}.jpg" width="70" height="70" alt="{{ item.title|striptags }}">
					</picture>
				</div>

				<div class="category-events__main">
					<div class="category-events__title">
						{{ item.title }}
					</div>
					{% if item.meta %}
						<div class="category-events__meta">
							{{ item.meta }}
						</div>
					{% endif %}
				</div>
				<div class="category-events__icon">
					<svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0.195262 0.195262C0.455612 -0.0650874 0.877722 -0.0650874 1.13807 0.195262L4.4714 3.5286C4.73175 3.78894 4.73175 4.21106 4.4714 4.4714L1.13807 7.80474C0.877722 8.06509 0.455612 8.06509 0.195262 7.80474C-0.0650874 7.54439 -0.0650874 7.12228 0.195262 6.86193L3.05719 4L0.195262 1.13807C-0.0650871 0.877722 -0.0650871 0.455612 0.195262 0.195262Z" fill="currentColor" />
					</svg>
				</div>
			</a>
		{% endfor %}
	</div>
</section>
