<div class="item-list">
	{% for item in list %}
		<a href="item.html" class="item-list__item">
			<div class="item-list__image">
				<picture>
					<source srcset="images/list/{{ item.image }}.webp 1x, images/list/{{ item.image }}@2x.webp 1.3x" type="image/webp">
					<source srcset="images/list/{{ item.image }}.jpg 1x, images/list/{{ item.image }}@2x.jpg 1.3x" type="image/jpg">
					<img src="images/list/{{ item.image }}.jpg" width="327" height="196" loading="lazy" alt="{{ item.title|striptags }}">
				</picture>
			</div>
			<div class="item-list__main">
				<div class="item-list__title">
					{{ item.title }}
				</div>

				<div class="item-list__footer">
					<div class="item-list__date">
						{{ item.date }}
					</div>
					<div class="item-list__price">
						<span>
							{{ item.price }}
						</span>
					</div>
				</div>
			</div>
		</a>
		{% if loop.index==4 %}
			{% include "impression-info.twig" with {
				impression : impression
			} %}
		{% endif %}
	{% endfor %}
</div>
