<section class="category-likes section" data-slider="slide">
	{% include "../site/section-header.twig" with {
		title : "Вам понравится",
		link  : true
	} only %}

	<div class="swiper">
		<div class="swiper-wrapper">
			{% for item in likes %}
				<div class="swiper-slide">
					<a href="mobile.html" class="category-likes__item">
						<div class="category-likes__image">
							<picture>
								<source srcset="images/likes/{{ item.image }}.webp 1x, images/likes/{{ item.image }}@2x.webp 1.3x" type="image/webp">
								<source srcset="images/likes/{{ item.image }}.jpg 1x, images/likes/{{ item.image }}@2x.jpg 1.3x" type="image/jpg">
								<img src="images/likes/{{ item.image }}.jpg" width="327" height="207" loading="lazy" alt="{{ item.name|striptags }}">
							</picture>
						</div>
						<div class="category-likes__category">
							{{ item.category }}
						</div>

						<div class="category-likes__main">
							<div class="category-list__meta">
								{{ item.meta }}
							</div>
							<div class="category-list__title">
								{{ item.name }}
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
