<div class="swiper-slide">
	<a href="{{ link }}" class="preview-item" style="background-image:url('images/preview/{{ image }}@2x.webp');">
		<div class="preview-item__main">
			<div class="preview-item__label">
				{{ label }}
			</div>
			<div class="preview-item__title">
				{{ title }}
			</div>
			<div class="preview-item__desc">
				{{ desc }}
			</div>
			<div class="preview-item__link">
				<div class="b-btn b-btn--white b-btn--small">
					Смотреть
				</div>
			</div>
		</div>
	</a>
</div>
